---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import { Icon } from '@iconify/react';
import PreviewLink from '@components/sections/PreviewLink.astro';

interface Props {
  preview?: boolean;
}

const { preview = false } = Astro.props as Props;

const projects = (await getCollection('projects')).sort((a, b) =>
  a.data.date > b.data.date ? -1 : 1
);
---

<section class="flex flex-col gap-7 opacity-0 md:gap-10" data-animate-inview>
  <h1 class="text-4xl font-bold leading-none text-white md:text-[70px]">
    RECENT
    <br />
    <span class="text-dark-mode-gray-semiDark">PROJECTS</span>
  </h1>
  <ul class="flex max-w-xl flex-col">
    {
      (preview ? projects.slice(0, 3) : projects).map(({ data }) => (
        <li class="group/link relative cursor-pointer rounded-lg p-5 hover:bg-dark-mode-gray-semiDark">
          <a
            href={data.website}
            class="flex max-w-full gap-4 max-sm:flex-col"
            target="_blank"
            rel="noopener noreferrer">
            <Image
              src={data.image}
              alt={data.name}
              class="rounded-lg object-contain max-sm:mx-auto"
              width={192}
              height={192}
            />
            <div class="flex max-w-full flex-col gap-4 sm:flex-[0.8]">
              <h3 class="text-xl font-bold text-white md:text-2xl">{data.name}</h3>
              <p class="text-dark-mode-gray-light">{data.summary}</p>
            </div>
          </a>
          <Icon
            client:load
            icon="material-symbols-light:arrow-right-alt-rounded"
            width={30}
            height={30}
            color="white"
            className="absolute top-5 right-5 -rotate-45 translate-y-0 translate-x-0 transition-transform duration-200 group-hover/link:translate-x-2 group-hover/link:-translate-y-2"
          />
        </li>
      ))
    }
  </ul>
  {preview && projects.length > 3 && <PreviewLink link="/projects/" />}
</section>
